

html {
	background-color: #F0F1BD;

    }

.riveg, .rived, .radeau{ 
	position: absolute;
  	height: 20vh;
  	width: 32vw;
  	bottom: 0;
  	left: 0;
  	border-top:2px dotted pink;
  	border-bottom:40vh solid #6EC1B3;

    display: -webkit-flex;
    display: flex;
  
} 


  .rived {
  	left:68vw;
  }

  .radeau {
  	border-top:2px dotted purple;
  	width: 36vw;
  	left: 32vw;
  	border-bottom:25vh solid #E83C6E;
  }

  .fleche-d {
  	position: absolute;
  	left: 32vw;

  }

  .mouton, .loup, .salade{
    border: 0px solid;
    width: 2em;
    margin: auto;
    text-align: center; 
    text-decoration: blink; 
  }



   




